body{
	margin: 0px;
	padding: 0px;
	background: yellow;
	font-family: 'Varela Round', sans-serif;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.bg-1{
	background-color: #00b894;
	padding-top:30px;
	padding-bottom: 30px;
}
.bg-2{
	background-color:#e17055;
	padding-top:30px;
	padding-bottom: 30px;
}
.bg-3{
background-color:#6c5ce7;
	padding-top:80px;
	padding-bottom: 100px;	
}
.perataan{
	display: flex;
}
.box-3{
	width: 315px;
	background-color: #fff;
	margin:5px;
	padding: 10px;
	text-align: justify;
}
h1, h2{
	text-align: center;
}
.box-2{
	width: 475px;
	background-color: #fff;
	margin:5px;
	padding: 10px;
}
.footer{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.icon{
text-align: center;
margin-top: 40px;
}
.icon a{
	color: #fff;
	padding: 20px;
}
.poto{
	text-align: center;
}